<ion-content class="ion-padding">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="email" [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="submitLogIn()" [disabled]="!canSubmitLogin">Iniciar Sesión</ion-button>

    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
</ion-content>
